<h2>Employee Creation/Updation</h2>
<hr>
<form #empForm="ngForm" (ngSubmit)="onSubmit(empForm)">
    <input type="number" name="eid" placeholder="Enter ID" [(ngModel)]="es.selectedEmployee.eid"> <br>
    <input type="text" name="name" placeholder="Enter name" [(ngModel)]="es.selectedEmployee.name" > <br>
    <input type="number" name="age" placeholder="Enter age" [(ngModel)]="es.selectedEmployee.age" > <br>
    <input type="number" name="salary" placeholder="Enter salary" [(ngModel)]="es.selectedEmployee.salary"> <br>
    <input type="text" name="designation" placeholder="Enter designation" [(ngModel)]="es.selectedEmployee.designation"> <br>
    <br>
    <input type="submit" name="submit" value="SUBMIT">
    <input type="button" name="reset" value="RESET">
</form>
<br><br>
<hr>
<h2>Employee Details</h2>
<hr>
<table>
    <tr>
        <th>EID</th>
        <th>NAME</th>
        <th>AGE</th>
        <th>SALARY</th>
        <th>DESIGNATION</th>
        <th></th>
        <th></th>
    </tr>
    <tr *ngFor="let emp of es.employees">
        <td> {{emp.eid}}</td>
        <td> {{emp.name}}</td>
        <td> {{emp.age}}</td>
        <td> {{emp.salary}}</td>
        <td> {{emp.designation}}</td>
        <td> <input type="button" value="EDIT" (click)="updateEmp(emp)"> </td>
        <td> <input type="button" value="DELETE" (click)="deleteEmp(emp.eid)"></td>
    </tr>
</table>